.breadcrumb{
      width:100vw; 
      background-color:black;
      padding-bottom:0px;
      font:white !important;
      margin-left: 0 !important; 
      position:fixed;
      z-index:5
}

.row {
    margin-right: 0 !important; 
    margin-left: 0 !important; 
}

body{

    background-color:black;

}

.jumbotron{
    text-align:center;
    background-image: url("Images/snow.jpg");
    background-size:100vw 100vh;
    margin-bottom:0px;
    margin-top:0px;
    font-family: 'Fascinate Inline', cursive;
    padding-top:0px;
    padding-bottom:4px;
    height: 100vh;
    width:100vw; 
    font:white;
  }


.alert {
    text-align:center;
}

#A, #P, #C, #B{
    color:white;
}

#A:hover, #P:hover, #C:hover, #B:hover{
    color:darkgrey;
    cursor: pointer;
}

.about{
    color:white;
    text-align:center;
    padding-top:5px;
}

form{
    color:white;

}
.portfolio{
    padding-top:40px;
    margin-right:5px;
    margin-left:5px;
    height: 100vh;
    width:100vw; 
   
   
}

.connect{
    padding-top:30px;
    height: 100vh;
    width:100vw; 
   
}

.thumbnail{
    background-image: url("Images/sativa.png");
    height:25vh;
}

.resume{
    height: 100vh;
    width:100vw; 
    color:white;
    padding-top:20px;
}

.backtotop{
    text-align:center;
    font:white;
    margin-bottom:5px;
}


#jumbotext{
    padding-top:5px;
    font-family: 'Chicle', cursive;
    padding-bottom:0px;
    font:white !important; /*why does this not work?!?!?*/ 
    padding-top:50vh;
  }