html, body { overflow-x: hidden; }

.breadcrumb{
    width:100%; 
    background-color:black;
    padding-bottom:0px;
    margin-left: 0 !important; 
    position:fixed;
    z-index:5;
    padding-top:0px;
}

.container {
    width: 100%;
    margin-right: 0 !important; 
    margin-left: 0 !important; 
    padding-left:0 !important;
    padding-right:0 !important;
    
}

.header{
    position: relative;
    height: 100vh;
    width: 100%;

}
.jumbotron{
    text-align:center;
    background-image: url("Images/philly.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom:0px;
    margin-top:0px;
    font-family: 'Fascinate Inline', cursive;
    padding-top:0px;
    padding-bottom:4px;
    height: 100vh;
    width:100vw; 
    color:white;
    text-shadow: 1px 1px #000;
  }

  #A, #P, #C, #B{
    color:white;
    font-size:20px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

@media(max-width:767px){  
.breadcrumb{
    display:none;
}

#jumbotext{
   
    font-family: 'Chicle', cursive;
    margin-bottom:70%;
    padding-bottom:70%;
    margin-right:15%;
    margin-left:15%;
    font-size:18px;
    margin-top:0;
    padding-top:0;
    margin-top:0;
   position:relative;
   bottom:10%;
  }

#ok{
    display:none !important;
    visibility: hidden;
}

}

#A:hover, #P:hover, #C:hover, #B:hover{
    color:skyblue;
    cursor: pointer;
}

#jumbotext{
   
    padding-top:5px;
    font-family: 'Chicle', cursive;
    padding-bottom:0px;
    padding-top:50vh;
    margin-right:25%;
    margin-left:25%;
    font-size:32px;
  }

  #ok{

    display:inline-block;
    height:40px;
    width:40px;
    padding-top:5px;
}

.backdrop {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

body{
    background-color:black;
}

.portfolio{
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top:37px;
    height: 100vh;
    width:100vw; 
    padding-right:2%;
    padding-left:2%;
   
}

.thumbnail{
    background-image: url("Images/weather.png");
    height:33vh;
}

.resume{

    position: relative;
    height: 100vh;
    width: 100%;
    color:white;
    padding-right:2%;
    padding-left:2%;
    
  
}

h6{
    font-family:'times new roman';
    font-size:28px;
    }
    
h5{
    font-family:'times new roman';
    font-size:22px;
}

.connect{
    position:relative;
    width: 100%;
  height:100vh;
  background-image: url('Images/ele.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
 margin-top:4%;
}

.well,.w{
    position:relative;
    top:15%;
    bottom:15%;
    text-align:center;
    margin-bottom:0px;
    padding-bottom:0px;


}

#ccc{ font-size:20px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;


}

.alert{
    margin-left:30%;
    margin-right:30%;
}

.education{
    padding-top:20px;
}