html, body { overflow-x: hidden; }

span.glyphicon-user, span.glyphicon-envelope {
    margin-top:18px; 
    font-size: 3.5em;
    z-index:4 !important;
}

span.glyphicon-comment {
    margin-top:35px; 
    font-size: 3.5em;
    z-index:4 !important;
}

textarea {
  resize: none;
}

form {
    color:white;
    z-index:4;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    text-align:none;  
}

#ok{
    visibility: hidden;
}

.buttons{
    position:relative;
    bottom:15px;
    text-align:center;
    overflow:auto;
}

.buttons .btn-primary, .buttons .btn-default{
  

}

label {
    text-align:left;
}

.btn:hover {
    border-color:skyblue;
    background-color:skyblue;;  
    color:black; 
}

.alert {
    text-align:center;
    position:relative;
    top:84px;
}

.breadcrumb {
    width:100%; 
    background-color:midnightblue;
    padding-bottom:0px;
    margin-left: 0 !important; 
    position:fixed;
    z-index:5;
    padding-top:0px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    width: 100%;
    margin-right: 0 !important; 
    margin-left: 0 !important; 
    padding-left:0 !important;
    padding-right:0 !important; 
}

.header {
    position: relative;
    height: 100vh;
    width: 100%;
}

.jumbotron {
    text-align:center;
    background-image: url("Images/philly.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom:0px;
    margin-top:0px;
    padding-top:0px;
    padding-bottom:4px;
    height: 100vh;
    width:100vw; 
    color:white;
    text-shadow: 1px 1px #000;
}

#A, #P, #C, #B {
    color:white;
    font-size:20px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a {
   color: skyblue; 
}

@media(max-width:767px){  
#A,#P,#B,#C{
    display:none;
}

#ok{
    visibility: visible;
}

.jumbotron{
    height: 75vh;
  
}

.jumbotron h2{
    font-size:2px;
    margin-right:5%;
    margin-left:5%;
    padding-left:2px;
    padding-right:2px;
}

#train{
    display:none;
}

.alert{
position:relative;
top:70px;
}

#full{
    display:none;
}

#sss{
    display:none;
}

.thumbnail p{
    font-size:12px;
}
span.glyphicon-user, span.glyphicon-envelope
                       {margin-top:25px; 
    font-size: 2.1em;
    z-index:4 !important;
}
span.glyphicon-comment
    {margin-top:25px; 
    font-size: 2.1em;
    z-index:4 !important;
    margin-right:10px;
    padding-right:15px;
}

#jumbotext {
    font-family: 'Chicle', cursive;
    margin-bottom:70%;
    padding-bottom:70%;
    margin-right:5%;
    margin-left:5%;
    padding-left:2px;
    padding-right:2px;
    font-size:6px;
    margin-top:0;
    padding-top:0;
    margin-top:0;
   position:relative;
   bottom:40%;
}

#ok {
    display:none !important;
    visibility: hidden;
}

.w {
    text-align:center;
}

.resume{
    display:none;
}

.connect{
    position:relative;
    bottom:25%;
}

}

#A:hover, #P:hover, #C:hover, #B:hover {
    color:skyblue;
    cursor: pointer;
}

#jumbotext {
    padding-top:5px;
    font-family: 'Chicle', cursive;
    padding-bottom:0px;
    padding-top:40vh;
    margin-right:25%;
    margin-left:25%;
    font-size:39px;
    color:white;
}

#ok {
    display:inline-block;
    height:35px;
    width:35px;
    padding-top:o;
    margin-top:0;
    padding-bottom:0;
    margin-bottom:0;
}

.backdrop {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

body {
    background-color:black;
}

.portfolio {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top:37px;
    height: 100vh;
    width:100vw; 
    padding-right:2%;
    padding-left:2%;
}

.thumbnail {
    background-image: url("Images/cloudy-day.png");
    height:33vh;
}

.thumbnail p{
    padding-bottom:12px;
    margin-bottom:12px;
    font-size:14px;
    
}

.resume {
    position: relative;
    height: 100vh;
    width: 100%;
    color:white;
    padding-right:2%;
    padding-left:2%;
    color:white;
    margin-bottom:20px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    border-style: solid;
    border-width: medium;
    border-color: 3366CC;
    border-width: 5px;

  
}


h3 {
    text-align:center;
    font-size:24px;
}

h6 {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:24px;
}
    
h5 {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:22px;
}

.connect{
    position:relative;
    width: 100%;
    height:100vh;
  background-image:  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),url('Images/ele.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
   margin-top:4%;
}

.well,.w {
    position:relative;
    top:15%;
    bottom:15%;
    text-align:center;
    margin-bottom:0px;
    padding-bottom:0px;
}

#ccc { 
    font-size:22px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:white;
}

.education {
    padding-top:25px;
}

@media (min-width: 1200px) {

    .connect{
        height:none;
    }
    #jumbotext{
        font-size:45px;
        position:relative;
        bottom:10%;
    }
      .thumbnail p{
        font-size:17px;
    }

    h3{
    font-size:30px;
    }

    #ccc{
    font-size:27px;
    }

    h6{
    font-family:'times new roman';
    font-size:30px;
    }
    
    h5{
    font-family:'times new roman';
    font-size:27px;
    }

   .resume p{
    font-size:17px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .resume li{
    font-size:17px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    #ok{
    height:42px;
    width:42px;
    }

    .alert{
    font-size:15px;
   }

   .alert{
    position:relative;
    top:110px;}
    }

@media(min-width:768px) and (max-width:991px){
    .thumbnail p{
        font-size:20px;
    }
    
    h6{
        font-family:'times new roman';
        font-size:30px;
        }
        
    h5{
        font-family:'times new roman';
        font-size:27px;
    }
    
    .resume p{
        font-size:20px;
        font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    
    .resume li{
        font-size:20px;
        font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}