    body{
    background-image:url(../Images/circles-dark.png);
    }

    #myphoto{
        float:left;
        margin:2% 2% 2% 2%;
    }
    
    #socialmedia{
        float:left;
        width:30%;
        margin-left:2%;
        margin-right:1%;
        font-family:"Times New Roman";
    
    }
    
    #logo{
        background-color:#4aaaa5;
        font-family:"Times New Roman";
        color:white;
        padding-top:15px;
        padding-bottom:20px;
        margin-left:2px;
    }
    
    #header{
        color:#4aaaa5;
        font-family:"Times New Roman"
    }
    
    #headers{
        color:#4aaaa5;
        font-family:"Times New Roman";
        font-size:18px;
    
    }
    
    .well{
        border-top: 8px solid #4aaaa5;
        text-align:center;
        font-family:'Times New Roman';
        color:#4aaaa5;
        clear:both;
        margin:none;
      
        
    } 
    
    #port{
    margin: 2% 2% 2% 2%;
    }
    
    .biotext{
       font-family:helvetica; 
       position:relative;
       top:60px;
    }
    
    .portfoliotags{
        position:relative;
        bottom:60px;
        color:white;
        background-color:#4aaaa5;
        text-align:center; 
        font-size:16px;
        max-width:250px;
        margin-left:6px;
    
    }
    
    